footer {
    background-color: #6850ED;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    /* margin: 0 auto; */
    text-align: center;
    line-height: 50px;
    color: aliceblue;
}

.heart {
    color: rgb(243, 12, 12);
}